<% if (site.categories.length){ %>
  <style>
  div.categories a:link,
  div.categories a:visited {
    /* background-color: white; */
    /* border: 2px solid green; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  div.categories a:hover,
  div.categories a:active {
    background-color: #909090;
    color: white;
    border-radius: 2px;
  }
  /* div.categories li li:before {
    content: "\f105\ ";
    font-family: FontAwesome;
    font-weight: 700;
    color: #909090;
    left: -0.9rem;
  } */
  </style>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('categories') %></h3>
    <div class="widget categories">
      <%- list_categories({show_count: theme.show_count}) %>
    </div>
  </div>
<% } %>
