<% if (site.tags.length){ %>
  <style>
  .tags_custom {
    background-color: transparent;
    border: 0;
  }
  .tags_custom a {
    border-radius: 2px;
    text-decoration: none;
    padding: 2px 8px;
    background-color: #909090;
    display: inline-block;
    /* margin: 2px 1px 3px 0; */
    color: #eee;
    position: relative;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background .04s, color .04s;
    transition-property: background, color;
    transition-duration: 0.2s, 0.2s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
  }
  .tags_custom a::before {
    box-sizing: border-box;
  }
  .tags_custom a:hover {
    background-color: #db6569;
    text-decoration: none;
  }
  </style>
  <div class="widget-wrap">
    <h3 class="widget-title-tags"><%= __('tags') %></h3>
    <div class="tags_custom widget">
      <%- list_tags({show_count: theme.show_count, style: 'notlist', separator: ' '}) %>
    </div>
  </div>
<% } %>
