<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <div style="flex: 15%">
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
        <%= __('powered_by') %>
        <a href="http://hexo.io/" target="_blank">Hexo</a>
      </div>
      <div style="flex: 85%">
        <!-- <a href="https://info.flagcounter.com/mfBC"><img src="https://s01.flagcounter.com/count2/mfBC/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_9/viewers_0/labels_0/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a> -->
        <a><img src="http://i.imgur.com/L4vgNa9.jpg"></a>
      </div>
    </div>
  </div>
</footer>